.banner {
    /* background-image: url('../assets/wave.png'); */

    /* background-color: cornflowerblue; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}